
header{
  background-color: lightgray;
  text-align: center;
  color: orange;
}

 hr{
   color: black;
   border: 3px solid orange;
 }
 main{
   padding-left: 10px;
 }

section > h3{
  color: orange;
}
